.footer {
  width: 100%;
  background: #fff;

  &__content {
    min-height: 50px;
    height: auto;
  }

  &__links {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__l-image {
    margin-right: 10px;
  }

  &__l-text {
    font-size: 20px;
  }
}